services:
  - type: worker
    name: clipblaze-worker
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: RAPIDAPI_KEY
        sync: false
